#calendar-filters {
  line-height: 140%;

  span {
    font-weight: bold;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
  
  .input--dropdown-bare {
    font-size: 24px;
    font-weight: bold;
    background-position: right top 9px;
    background-size: 22px;
    padding-right: 25px;
    margin: 0;
    border-width: 2px;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    @media (min-width: @screen-sm-min) {
      font-size: 30px;
    }
  }
}