doctype

html
  head
    title Calendar
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css")
    link(rel="shortcut icon", type="image/x-icon", href="https://www.wgsn.com/wp-content/themes/stylesight/favicon.ico")
  
  body(class="fashion")
    header

    #content
      != yield