include partials/event-tile
include partials/futures-tile

.content-wrap
  .row.page-title
    .col-xs-12
      h1.page-title--primary Calendar

  .row.block-top-lg
    .col-xs-12
      h2#calendar-filters
        select.input--dropdown-bare
          option All
          option Accessories
          option Active
          option Arts/Culture
          option Auto
          option Beauty/Fragrance
          option Branding/Licensing
          option Bridal
          option Catwalks
          option Children's Only
          option Conference
          option Denim
          option Design
          option Eco-Green/Health
          option Electronics/Toys
          option Eyewear
          option Fashion
          option Festival
          option Footwear
          option Gifts
          option Interiors
          option Intimates
          option Jewellery
          option Leather
          option Men's Only
          option Packaging
          option Print &amp; Graphics
          option Swimwear
          option Textiles/Sourcing
          option Vintage
          option Women’s Only
          option Yarns/Fibres
        span events in 
        select.input--dropdown-bare
          option all countries
          option Australia
          option Bangladesh
          option Belgium
          option Brazil
          option Bulgaria
          option California
          option Canada
          option China
          option Croatia
          option Denmark
          option Finland
          option France
          option Germany
          option Hungary
          option India
          option Italy
          option Japan
          option Netherlands
          option South Korea
          option Spain
          option Sweden
          option Switzerland
          option Taiwan
          option The Netherlands
          option Turkey
          option UK
          option United Arab Emirates
          option US
          option Wales
        span happening
        select.input--dropdown-bare
          option today
          option this month
          option next month
          option June 2017
          option July 2017
          option August 2017
          option September 2017
          option October 2017
          option November 2017
          option December 2017
          option 2018
          option 2019
        span .

  .row
    .col-xs-12.col-sm-8.col-md-9
      .row.block-top-md
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Governors%20Ball1470132303.png", "The Governor's Ball Music Festival", "June 2–4, 2017", "U.S.", "Festival")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol22/calendar_images/Panorama1492074596.png", "Panorama", "July 4–6, 2017", "U.S.", "Footwear", "Fashion", "Accessories")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-11-16%20at%202.24.17%20PM1479306284.png", "Mode City", "July 8–10, 2017", "France", "Swimwear", "Intimates")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-11-16%20at%202.28.41%20PM1479306552.png", "Cosmoprof North America", "July 9–11, 2017", "U.S.", "Packaging", "Beauty & Fragrance")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol22/calendar_images/Screen%20Shot%202017-04-18%20at%202.33.46%20PM1492522453.png", "MARKET by Kleine Fabriek", "July 9–10, 2017", "Netherlands", "Children's")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-10-25%20at%202.43.07%20PM1477403010.png", "New York Men's Fashion Week S/S 18", "July 10–13, 2017", "U.S.", "Men's", "Catwalks")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Governors%20Ball1470132303.png", "The Governor's Ball Music Festival", "June 2–4, 2017", "U.S.", "Festival")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol22/calendar_images/Panorama1492074596.png", "Panorama", "July 4–6, 2017", "U.S.", "Footwear", "Fashion", "Accessories")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-11-16%20at%202.24.17%20PM1479306284.png", "Mode City", "July 8–10, 2017", "France", "Swimwear", "Intimates")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-11-16%20at%202.28.41%20PM1479306552.png", "Cosmoprof North America", "July 9–11, 2017", "U.S.", "Packaging", "Beauty & Fragrance")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol22/calendar_images/Screen%20Shot%202017-04-18%20at%202.33.46%20PM1492522453.png", "MARKET by Kleine Fabriek", "July 9–10, 2017", "Netherlands", "Children's")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-10-25%20at%202.43.07%20PM1477403010.png", "New York Men's Fashion Week S/S 18", "July 10–13, 2017", "U.S.", "Men's", "Catwalks")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Governors%20Ball1470132303.png", "The Governor's Ball Music Festival", "June 2–4, 2017", "U.S.", "Festival")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol22/calendar_images/Panorama1492074596.png", "Panorama", "July 4–6, 2017", "U.S.", "Footwear", "Fashion", "Accessories")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-11-16%20at%202.24.17%20PM1479306284.png", "Mode City", "July 8–10, 2017", "France", "Swimwear", "Intimates")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-11-16%20at%202.28.41%20PM1479306552.png", "Cosmoprof North America", "July 9–11, 2017", "U.S.", "Packaging", "Beauty & Fragrance")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol22/calendar_images/Screen%20Shot%202017-04-18%20at%202.33.46%20PM1492522453.png", "MARKET by Kleine Fabriek", "July 9–10, 2017", "Netherlands", "Children's")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-10-25%20at%202.43.07%20PM1477403010.png", "New York Men's Fashion Week S/S 18", "July 10–13, 2017", "U.S.", "Men's", "Catwalks")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Governors%20Ball1470132303.png", "The Governor's Ball Music Festival", "June 2–4, 2017", "U.S.", "Festival")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol22/calendar_images/Panorama1492074596.png", "Panorama", "July 4–6, 2017", "U.S.", "Footwear", "Fashion", "Accessories")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-11-16%20at%202.24.17%20PM1479306284.png", "Mode City", "July 8–10, 2017", "France", "Swimwear", "Intimates")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol1/calendar_images/Screen%20Shot%202016-11-16%20at%202.28.41%20PM1479306552.png", "Cosmoprof North America", "July 9–11, 2017", "U.S.", "Packaging", "Beauty & Fragrance")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3: +event-tile("/event", "https://www.wgsn.com/storage/vol22/calendar_images/Screen%20Shot%202017-04-18%20at%202.33.46%20PM1492522453.png", "MARKET by Kleine Fabriek", "July 9–10, 2017", "Netherlands", "Children's")


    .col-xs-12.col-sm-4.col-md-3
      .bg-xlt-grey.block-md.sticky
        +futures-tile("https://futures-london-2017.eventbrite.com/?aff=wgsnfutureswebsite", "https://www.wgsn.com/wp-content/uploads/header-bg-futureslondon-1.png", "London", "May 25, 2017", "This year’s theme – ‘The Future Consumer’ – will look at how we as individuals will evolve in the next five years: from shifting definitions of sexuality to ever-increasing demands for brands.")
        +futures-tile("https://wgsn-futures-hong-kong-2017.eventbrite.com/?aff=wgsnwebsite", "https://www.wgsn.com/wp-content/uploads/header-bg-futureshong-kong-2-1.png", "Hong Kong", "July 14, 2017", "This year’s theme – ‘The Future Consumer’ – will look at how we as individuals will evolve in the next five years: from shifting definitions of sexuality to ever-increasing demands for brands.")