//- jQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

//- Sticky
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js')
script.
  $(document).ready(function(){
    $(".sticky").sticky({
    topSpacing: 40
    });
  });