include ../partials/event-tile

.event
  .event-bg(style="background-image: url('https://www.governorsballmusicfestival.com/wp-www-governorsballmusicfestival-com/wp/wp-content/uploads/2016/11/experience-activities-alt.jpg');")

  .content-wrap.content-wrap--narrow
    a.styled.styled--white(href="/") ← Back to Results
    .event-container
      .event-banner(style="background-image: url('https://www.governorsballmusicfestival.com/wp-www-governorsballmusicfestival-com/wp/wp-content/uploads/2016/11/experience-activities-alt-768x768.jpg');")
        .event-category Festival
        h1.event-title The Governor's Ball Music Festival

      .event-content
        .row
          .col-xs-12.col-sm-6.col-md-4
            .block-hor-md
              .block-ver-md
                h3 Date
                p
                  | June 2, 2017
                  br
                  | &mdash;June 4, 2017
                a.styled.text-bold(href="") Add to Calendar

              hr

              .block-ver-md
                h3 Venue
                p
                  | Randalls Island Park
                  br
                  | New York, NY 10035
                a.styled.text-bold(href="") View Map

          .col-xs-12.col-sm-6.col-md-8
            .block-hor-md
              .block-ver-md
                h3 Description
                p What with the rise of androgynous dressing, the frequently blurring boundaries of gender, and the popularity of grungy street-inspired brands like Vetements, it’s no surprise that a key exhibition for Spring focuses on the notion of dress code and ‘garment scandal’, and how this perhaps transgressive design movement has led to a pivotal moment in fashion today.
                p View over 400 articles of clothing, accessories, portraits, and objects which question dress codes and moral values - including but not limited to, skirts for men, tuxedos for women, baggy jeans, and more - with the exhibition split into three themes: ‘clothing and rule’, ‘is it a boy or a girl’, and ‘provocative excesses’.
                br
                a.styled.text-bold(href="http://governorsballmusicfestival.com" target="_blank") http://governorsballmusicfestival.com

        hr

        .row
          .col-xs-12
            p.block-sm.tight This event will be covered by WGSN in the Image Library.

    .card
      h4 Other events in U.S.
      .row
        .col-xs-12.col-sm-6.col-lg-3: +event-tile("/event", "https://www.governorsballmusicfestival.com/wp-www-governorsballmusicfestival-com/wp/wp-content/uploads/2016/11/experience-activities-alt-300x300.jpg", "The Governor's Ball Music Festival", "June 2–4, 2017", "U.S.", "Festival")
        .col-xs-12.col-sm-6.col-lg-3: +event-tile("/event", "https://www.governorsballmusicfestival.com/wp-www-governorsballmusicfestival-com/wp/wp-content/uploads/2016/11/experience-activities-alt-300x300.jpg", "The Governor's Ball Music Festival", "June 2–4, 2017", "U.S.", "Festival")
        .col-xs-12.col-sm-6.col-lg-3: +event-tile("/event", "https://www.governorsballmusicfestival.com/wp-www-governorsballmusicfestival-com/wp/wp-content/uploads/2016/11/experience-activities-alt-300x300.jpg", "The Governor's Ball Music Festival", "June 2–4, 2017", "U.S.", "Festival")
        .col-xs-12.col-sm-6.col-lg-3: +event-tile("/event", "https://www.governorsballmusicfestival.com/wp-www-governorsballmusicfestival-com/wp/wp-content/uploads/2016/11/experience-activities-alt-300x300.jpg", "The Governor's Ball Music Festival", "June 2–4, 2017", "U.S.", "Festival")